<HTML>
    <HEAD>
        <TITLE> Increment Level  </TITLE>
    </HEAD>

    <BODY>
        <form method="POST" action="{{url_for('chlvl')}}">
            Username of user to increment the level of:
            <input type="text" name="username" /> <br>

            The amount to increment:
            <input type="number" name="increment" /> <br>

            Your password:
            <input type="password" name="adminPass" />

            <input type="submit" />
        </form>
    {% if error %}
      <H1>ERROR. Invalid Login. Try again</H1>
    {%endif%}
    </BODY>
</HTML>
